@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.banner {
  height: 100vh;
  background: hsl(185, 75%, 39%);
}
.imgtop {
  position: absolute;
  top: -620px;
  left: -730px;
}
.imgbott {
  position: absolute;
  top: 280px;
  right: -750px;
}
.container {
  background: #fff;
  height: 370px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
}
.top {
  height: 38%;
  background: url(./bg-pattern-card.svg);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.bott {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.pic {
  background: url(./image-victor.jpg);
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  border: 5px solid #fff;
  border-radius: 50%;
}
.bott h2 {
  margin-top: 15px;
  text-transform: capitalize;
  font-family: Kumbh Sans;
  font-size: 18px;
}

.numbers {
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid rgba(68, 63, 63, 0.2);
  width: 100%;
}
.numbers h2 {
  font-family: Kumbh Sans;
  font-size: 18px;
}
.numbers div {
  margin: 20px;
}
.bott p {
  padding: 8px 0;
  font-family: Kumbh Sans;
  color: hsl(227, 10%, 46%);
  text-transform: capitalize;
  font-size: 14px;
}
.numbers p {
  font-size: 11px;
  letter-spacing: 1.5px;
}
span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}
@media screen and (min-width: 1000px) {
  .imgtop {
    position: absolute;
    top: -500px;
    left: -350px;
  }
  .imgbott {
    position: absolute;
    top: 330px;
    right: -260px;
  }
}
